.parent-listing{
  list-style-type: none;
}
.kid-form-and-info {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  margin-top: 50px;
}
// .kid-registration-form {
//   box-align: end;
// }
// .wrap-info-kids {
//   margin: 0 auto;
//   width: 300px;
// }
.kids-home {
  padding-right:40px; 
}
.profile-welcome {
  margin-top: 30px;
}
