.my-navbar{
  margin: 0 auto;
  width: 800px;
  background-color: rgb(195, 247, 128);
}
.navigation {
  // color: rgb(17, 17, 16);
  height: 60px;
  margin: 0 1px;
  p {
    font-size: 0.9em;
  }
}
.logout {
  color: #fff;
}
.habesha {
  // font-size: 4em;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgb(114, 16, 16);
  // margin:auto;
  // padding-top: 10px;
  // padding-bottom: 5px;  color: rgb(35, 35, 226);
 
    font-family: 'Hanalei Fill', cursive;
    h2 { color: blueviolet; }

}