
  .cardd {
    // margin: 100px;
    // margin-bottom: 30px;
  // margin: 50px;
  margin: 100px;
    margin-top: 25px;
    width: 45px;
  .card-img-top {
    width: 200px;
    height: 150px;
    border-radius: 10px;

  }
  }