
  .color-item {
    // margin: 100px;
    // margin-bottom: 30px;
  // margin: 50px;
  margin: 90px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 45px;
  .card-img-top {
    width: 200px;
    height: 150px;
    border-radius: 100px;
  }
  }